.intro-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.intro-image.intro-image-absolute {
  max-width: none;
  padding: 0;
  margin-top: -40px;
  margin-bottom: 30px;

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 550px;
  }

  @include media-breakpoint-up(lg) {
    bottom: -60px;
    left: -60px;
    width: 650px;
  }

  @include media-breakpoint-up(xl) {
    bottom: -100px;
    left: -70px;
    width: 700px;
  }
}
