---
layout: default
bodyClass: "page-services"
---

{% include intro-hero.html %}

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-4">
    <div class="row">
    {% for service in site.services %}
    <div class="col-md-9 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
          <hr />
          <!-- <p>{{ service.content | markdownify | strip_html | truncate: 200 }}</p> -->
          <p>{{ service.excerpt }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <img src="{{ service.image }}" style="width: 100%">
    </div>
    {% endfor %}
    </div>
  </div>
</div>
